* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

body {
  /* font-family: "Roboto", sans-serif; */
  font-family: "Poppins", sans-serif;
  background-color: #f4f9f9;
  font-size: 12px;
  color: #424242;
  display: flex;
  flex-direction: column;
}

/*
 * Header
 *
 */
/* 
.header {
  min-height: 56px;
  transition: min-height 0.3s;
} */

/* .header__inner {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
} */
/* .header__title {
  font-weight: 300;
  font-size: 4em;
  margin: 0.5em 0.25em;
  display: inline-block;
  color: #212121;
} */
/* 
.header__menu {
  font-size: 32px;
  margin: 10px auto;
  display: block;
  width: 30px;
} */

/*
 * Top level navigation
 */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 7%;
  background-color: rgba(244, 249, 249, 0.8);
  border-bottom: 1px solid #513c28;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  display: flex;
  justify-content: center;
  align-item: center;
  line-height: 44px;
  font-size: 2rem;
  font-weight: 700;
  color: #47474f;
  font-style: italic;
  min-height: 44px;
  min-width: 44px;
}

.navbar .navbar-logo span {
  color: #d3756b;
}



.navbar .navbar-nav a {
  color: #47474f;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}
.navbar .navbar-nav a:hover {
  color: #d3756b;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #d3756b;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #47474f;
  margin: 0 1rem;
  min-height: 44px;
  min-width: 44px;
}
.navbar .navbar-extra a:hover {
  color: #d3756b;
}

#hamburgerMenu {
  font-size: 24px;
  margin: auto;
  justify-content: center;
  align-item: center;
  display: block;
  background: none;
  min-height: 44px;
  min-width: 44px;
  
}

/*
 * Jumbotron
 */

.hero {
  margin-top: 5.8rem;
  display: flex;
  align-items: center;
  min-height: 380px;
  /* width: 100%; */
  text-align: center;
  background-image: url("../public/images/heros/hero-image_2-bg.jpg");
  background-position: center;
  background-color: green;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
}

.hero__inner {
  margin: 0 auto;
  max-width: 800px;
}

.hero__title {
  color: black;
  font-weight: 500;
  font-size: 36px;
  text-shadow: 1px 1px 13px rgba(255, 255, 255, 0.8);
}

.hero__tagline {
  color: black;
  text-shadow: 1px 1px 13px rgba(255, 255, 255, 0.8);
  margin-top: 16px;
  font-size: 18px;
  font-weight: 300;
}

/*
 * main
 */

main {
  width: 100%;
  margin: 0 auto;
  padding: 32px;
  flex: 1;
}

/*
 * content
 */

.content {
  /* padding: 32px; */
  margin: 0 auto;
  min-height: 100%;
}
.content .content__heading {
  margin: 0 auto;
  font-weight: normal;
  font-size: 2rem;
  text-align: center;
}

.restaurant-item__not__found {
  margin: 0 auto;
  font-weight: normal;
  font-size: 1rem;
}
/*
 * headline
 */

.headline__figure {
  width: 100%;
}

.headline__figure img {
  width: 100%;
}

.headline__figure figcaption {
  text-align: center;
  color: #666666;
  font-size: 13px;
  font-weight: 400;
  margin-top: 8px;
}

.headline__content {
  width: 100%;
  padding: 16px 0;
}

.headline__title {
  font-size: 24px;
  font-weight: 500;
}

.headline__description {
  font-size: 12px;
  margin-top: 12px;
}

.headline__button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  margin-top: 24px;
  cursor: pointer;
  padding: 8px 16px;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #2c3e50;
  transition: opacity 0.3s;
}

.headline__button:hover {
  opacity: 0.8;
}

/*
 * latest
 */

.latest {
  width: 100%;
  margin: 60px auto;
  text-align: center;
}

.latest__label {
  font-size: 32px;
  font-weight: lighter;
}

.latest__label::after {
  content: "";
  margin-top: 16px;
  display: block;
  border-bottom: 1px solid #eeeeee;
}

/*
 * post
 */

.posts {
  margin: 32px auto auto;
  text-align: left;
}

/*
 * post item
 */

.post-item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.post-item__content {
  padding: 16px;
}

.post-item__thumbnail {
  width: 100%;
}

.post-item__date {
  font-size: 10px;
  text-transform: uppercase;
  color: #999;
}

.post-item__date__author {
  color: red;
  text-decoration: none;
}

.post-item__title {
  font-weight: 500;
  font-size: 16px;
  margin-top: 16px;
  transition: 0.3s opacity;
}

.post-item__title:hover {
  opacity: 0.5;
}

.post-item__title a {
  text-decoration: none;
  color: inherit;
}

.post-item__description {
  margin-top: 16px;
  font-size: 12px;
  line-height: 1.5em;
}

/*
  Restaurants
*/
 
.restaurants {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin: 32px 0;
}
 
 
/*
  Restaurant Item
*/
 
.restaurant-item {
  width: 100%;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.4666666667);
  border-radius: 8px;
  overflow: hidden;
  /* transition: 0.25s ease-in-out; */
  transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}
 
.restaurant-item:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 6px 6px rgba(0, 0, 0, 0.2);
}

.restaurant-item__header {
  position: relative;
}
 
.restaurant-item .restaurant-item__header .restaurant-item__header__poster {
  width: 100%;
  transition: 0.3s ease-in-out;
}
 
.restaurant-item .restaurant-item__header .restaurant-item__header__rating {
  position: absolute;
  padding: 8px;
  bottom: 20px;
  left: 0;
  display: inline-block;
  background-color: #d3756b;
  color: #000000;
}
 
.restaurant-item .restaurant-item__header .restaurant-item__header__rating .restaurant-item__header__rating__score {
  margin-left: 10px;
  color: #000000;
}
 
.restaurant-item .restaurant-item__content {
  padding: 16px;
}
 
.restaurant-item .restaurant-item__content h3 {
  margin: 0 0 10px 0;
}
 
.restaurant-item .restaurant-item__content .name {
  padding: 15px 15px 15px 0;
  color: #db0000;
  text-decoration: none;
  max-width: 64px;
  max-height: 44px;
}
 
.restaurant-item .restaurant-item__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}
 
 
/*
  Restaurant
*/
 
.restaurant {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px 16px;
}
.restaurant .restaurant__name {
  display: flex;
  justify-content: center;
  align-item: center;
  font-size: 2rem;
  margin-bottom: 16px;
}
.restaurant .restaurant__poster {
  width: 100%;
  border-radius: 10px;
}
 
.restaurant .restaurant__info h4 {
  margin: 8px 0;
}
.restaurant .restaurant__info h3,
.restaurant .restaurant__overview h3 {
  margin: 8px 0;
  font-size: 16px;
}


/* DETAIL drink,food */

.detail-drink {
  display: flex;
  flex-wrap: wrap; /* Membungkus li ke dalam beberapa baris */
}

.detail-drink ul {
  list-style: none; 
  padding: 0; 
  margin: 0; 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: flex-start; 
}

.detail-drink li {
  padding: 0.5em 4rem;
  width: 32.9%;
  text-align: center;
  background-color: Beige;
  border: 0.5px solid #f0e3ca;
  border-width: 0 0 0.5px;
  margin-bottom: 0.2rem;
  margin-right: 0.2rem;
}

.detail-food {
  display: flex;
  flex-wrap: wrap; /* Membungkus li ke dalam beberapa baris */
}

.detail-food ul {
  list-style: none; 
  padding: 0; 
  margin: 0; 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: flex-start; 
}

.detail-food li {
  padding: 0.5em 4rem;
  width: 32.9%;
  text-align: center;
  background-color: Beige;
  border: 0.5px solid #f0e3ca;
  border-width: 0 0 0.5px;
  margin-bottom: 0.2rem;
  margin-right: 0.2rem;
}
.restaurant__overview .header{
  padding-bottom: 0.5rem;
  border-bottom: 1px solid black;
}


/* DETAIL REVIEW */
.detail-review {
  max-width: 100%;
  font-size: 1em;
  text-align: center;
}

.detail-review-item {
  color: black;
  background-color: Beige;
  margin-bottom: 1.5em;
  padding: 1em 1em;
}

.detail-review-item:last-child {
  margin-bottom: 0;
}

.review-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1em 1em 0 1em;
  color: #d3756b;
  gap: 0.5rem;
}

.review-name {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.review-date {
  color: #000;
  font-size: 0.8em;
  font-weight: lighter;
}

.review-body {
  padding: 1em;
  text-align: left;
}


/*
  Like
*/
.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db0000;
  
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;
  
  font-size: 18px;
  color: white;
  cursor: pointer;
}

/* input test */
.inputSearch {
  margin-top: 2rem;
  width: 100%;
  text-align: center;
}
#query {
    margin: 0 auto;
    width: 75%;
    padding: 0.7rem 1rem;
    font-size: 1.2rem;
    text-align: center;
    border: 1px solid #d3756b;
    border-radius: 10px;
}


/*
 * footer
 */
footer {
  color: #000000;
  background-color: #d3756b;
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #000000;
  /* margin: 1rem; */
  min-width: 44px;
  min-height: 44px;
  padding: 16px;
}

footer .socials a:hover,
footer .links a:hover {
  color: #a75d5d;
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #000000;
  min-width: 44px;
  min-height: 44px;
  padding: 16px 10px;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: #000000;
  font-weight: 700;
  min-width: 44px;
  min-height: 44px;
  padding: 16px 0;
}

main:focus,
h1:focus,
h2:focus,
a:focus,
article:focus,
p:focus,
img:focus,
div[tabindex="0"]:focus,
button:focus {
  border: 2px solid #1a1a1a;
  cursor: pointer;
}

.skip-link {
  position: absolute;
  top: -54px;
  left: 0;
  /* padding: 8px; */
  background-color: #a75d5d;
  color: white;
  z-index: 10000;
  min-width: 44px;
  min-height: 44px;
  padding: 16px 0;
  font-size: 10px;
}

.skip-link:focus {
  top: 0;
}
