.posts {
  display: grid;
  grid-row-gap: 16px;
}

@media screen and (max-width: 499px) {
  .navbar .navbar-extra {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 44px;
    min-width: 44px;
  }

  /* display: inline-block; */
}

@media screen and (min-width: 455px) {
  .headline__content {
    padding: 16px 16px;
  }

  .headline__title {
    font-size: 28px;
  }

  .headline__description {
    font-size: 16px;
  }
}

@media screen and (min-width: 500px) {
  .header__menu {
    display: none;
  }
}

@media screen and (min-width: 650px) {
  .headline__content {
    margin: 0 auto;
    max-width: 650px;
  }

  .post-item__content {
    padding: 16px 32px 32px 32px;
  }

  .post-item__title {
    font-size: 18px;
  }

  .post-item__description {
    font-size: 14px;
  }
}

@media screen and (min-width: 700px) {
  .posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 16px;
  }
}

@media screen and (min-width: 800px) {
  .nav__list {
    max-width: 800px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 900px) {
  .headline {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .headline__content {
    padding: 16px 32px;
  }

  .posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  main {
    max-width: 1200px;
  }
}
@media (max-width: 1199px) {
  .hero {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .hero {
    min-width: 1000px;
  }
}

/* Tablet */
@media (max-width: 1126px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
    background-color: #f4f9f9;
  }

  .navbar .navbar-nav a {
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
    min-height: 44px;
    min-width: 44px;
  }
  .navbar-extra {
    height: 44px;
    width: 44px;
    margin: auto;
    display: flex;
  }

  .navbar-extra .shop {
    height: 44px;
    width: 44px;

    text-align: center;
    font-size: 44px;
    line-height: 44px;
    margin: auto;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .hero {
    margin-top: 9rem;
  }
}

@media (min-width: 1127px) {
  #hamburger-menu {
    display: none;
  }
  .navbar-extra {
    margin-left: 44px;
    margin-right: 44px;
    min-height: 44px;
    min-width: 44px;
    /* margin: auto; */
    display: flex;
  }

  .navbar-extra .shop {
    min-height: 44px;
    min-width: 44px;

    text-align: center;
    font-size: 44px;
    line-height: 44px;
    margin: auto;
  }
  .navbar-nav {
    /* margin-left: 44px;
    margin-right: 44px; */
    min-height: 44px;
    min-width: 44px;
    margin: auto;
    display: flex;
  }

  .navbar-nav .link {
    min-height: 44px;
    min-width: 44px;
    text-align: center;
    line-height: 44px;
    margin: auto;
  }
  .navbar-nav a {
    font-size: 18px;
  }
}
