.posts {
  display: grid;
  grid-row-gap: 16px;
}

@media screen and (max-width: 499px) {
  .navbar .navbar-extra {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 44px;
    min-width: 44px;
  }

  /* display: inline-block; */
}

@media screen and (min-width: 455px) {
  .headline__content {
    padding: 16px 16px;
  }

  .headline__title {
    font-size: 28px;
  }

  .headline__description {
    font-size: 16px;
  }
}

@media screen and (min-width: 500px) {
  .header__menu {
    display: none;
  }
}

@media screen and (min-width: 650px) {
  .headline__content {
    margin: 0 auto;
    max-width: 650px;
  }

  .post-item__content {
    padding: 16px 32px 32px 32px;
  }

  .post-item__title {
    font-size: 18px;
  }

  .post-item__description {
    font-size: 14px;
  }

   
  .restaurants {
    grid-template-columns: 1fr 1fr;
  }
 
  .restaurant {
    grid-template-columns: auto 1fr;
  }
 
  .restaurant .restaurant__title {
    grid-column-start: 1;
    grid-column-end: 3;
  }
 
  .restaurant .restaurant__overview {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media screen and (min-width: 700px) {
  .posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 16px;
  }
}

@media screen and (min-width: 800px) {
  .nav__list {
    max-width: 800px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 900px) {
  .headline {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .headline__content {
    padding: 16px 32px;
  }

  .posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  main {
    max-width: 1200px;
  }
}
@media (max-width: 1199px) {
  .hero {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .hero {
    min-width: 1000px;
  }
}
/* desktop */

/* Tablet */
@media screen and (max-width: 1126px) {
  .navbar .navbar-logo {
    font-size: 20px;
  }
  #hamburgerMenu {
    display: none;
  }
  .navbar-extra .shop {
    display: none;
  }
  .navbar .navbar-nav {
    display: flex;
  }
  .navbar .navbar-nav a {
    display: flex;
    line-height: 44px;
    font-size: 20px;
    min-height: 44px;
    min-width: 44px;
    justify-content: center;
    align-item: center;
  }
  .hero {
    margin-top: 5.3rem;
  }
}
/* HP */
@media (max-width: 723px) {
  html {
    font-size: 62.5%;
  }

  #hamburgerMenu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
    background-color: #f4f9f9;
  }

  .navbar .navbar-nav a {
    display: block;
    /* margin: 1.5rem; */
    padding: 0.5rem;
    font-size: 2rem;
    min-height: 44px;
    min-width: 44px;
  }
  /* ---------OLD--------- */
  .navbar-extra {
    height: 44px;
    width: 44px;
    margin: auto;
    /* display: flex; */
  }

  .navbar-extra .shop {
    height: 44px;
    width: 44px;

    text-align: center;
    font-size: 44px;
    line-height: 44px;
    margin: auto;
  }
  /* ------OLD-------- */
  .navbar {
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
  }

  .navbar .navbar-extra {
    margin: auto;
    display: flex;
    justify-content: center;
  }

  .navbar .navbar-extra .shop {
    display: flex;
    padding-top: 12px;
    min-height: 44px;
    min-width: 44px;
    text-align: center;
    justify-content: center;
    line-height: 44px;
    margin: auto;
  }
  /* ------new----- */

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .hero {
    margin-top: 9rem;
  }
  .credit .credit-link {
    padding: 20px 0;
  }
}
@media (max-width: 848px) {
  .detail-drink, .detail-food {
    display: flex;
    flex-wrap: wrap; /* Membungkus li ke dalam beberapa baris */
  }
  
  .detail-drink ul, .detail-food ul {
    list-style: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: flex-start; 
  }
  
  .detail-drink li, .detail-food li {
    padding: 0.5em 4rem;
    width: 32.8%;
    text-align: center;
    background-color: Beige;
    border: 0.5px solid #f0e3ca;
    border-width: 0 0 0.5px;
    margin-bottom: 0.2rem;
    margin-right: 0.2rem;
  }
}
@media (max-width: 555px) {
  .detail-drink li,.detail-food li {
    display: flex;
    padding: 0.5em 1.5rem 0.5em 0.5rem;
    justify-content: center;
    align-item: center;
    width: 24.5%;
  }
}
@media (max-width: 493px) {
  .detail-drink li,.detail-food li {
    display: flex;
    padding: 0.5em 1.5rem 0.5em 0.5rem;
    justify-content: center;
    align-item: center;
    width: 32.8%;
  }
}

@media (max-width: 470px) {
  .detail-drink li,.detail-food li {
    display: flex;
    padding-left: 1rem;
    justify-content: left;
    align-item: left;
    width: 100%;
  }
}

@media screen and (min-width: 1127px) {
  #hamburgerMenu {
    display: none;
  }
  .navbar-extra {
    margin-left: 44px;
    margin-right: 44px;
    min-height: 44px;
    min-width: 44px;
    /* margin: auto; */
    display: flex;
  }

  .navbar-extra .shop {
    min-height: 44px;
    min-width: 44px;

    text-align: center;
    font-size: 44px;
    line-height: 44px;
    margin: auto;
  }
  .navbar-nav {
    /* margin-left: 44px;
    margin-right: 44px; */
    min-height: 44px;
    min-width: 44px;
    margin: auto;
    display: flex;
  }

  .navbar-nav .link {
    min-height: 44px;
    min-width: 44px;
    text-align: center;
    line-height: 44px;
    margin: auto;
  }
  .navbar-nav a {
    font-size: 18px;
  }
}

@media screen and (max-width: 320px) {
  .navbar {
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
  }
  .navbar .navbar-nav {
    width: 20rem;
  }

  .navbar .navbar-logo {
    font-size: 14px; /* Atur ukuran font sesuai kebutuhan */
  }
  .navbar .navbar-extra {
    margin: auto;
    display: flex;
    justify-content: center;
  }

  .navbar .navbar-extra .shop {
    min-height: 44px;
    min-width: 44px;
    text-align: center;
    line-height: 44px;
    margin: auto;
  }

  .socials {
    display: flex;
    align-items: center;
    padding: 0;
  }

  .socials .socials-list {
    font-size: 10px; /* Atur ukuran font sesuai kebutuhan */
  }
  .socials .socials-list {
    padding: 0;
    margin: auto;
    display: flex;
    justify-content: center;
  }

  .socials .socials-list {
    text-align: center;
    line-height: 44px;
    margin: auto;
  }

  .credit .credit-link {
    padding: 20px 0;
  }
}

@media screen and (min-width: 850px) {
  .restaurants {
    grid-template-columns: repeat(3, 1fr);
  }
}
 
@media screen and (min-width: 1200px) {
  .restaurants {
    grid-template-columns: repeat(4, 1fr);
  }
}
 
@media screen and (min-width: 1600px) {
  .restaurants {
      grid-template-columns: repeat(5, 1fr);
  }
}